.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.box-1 {
    position: relative;
    overflow: hidden;
}

.box-2 {
    position: absolute;
    top: 400px;
    left: 496px;
    width: 700px;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    /* background-color: blueviolet; */
    box-shadow: 3px 3px 10px black;
    margin: 100px;
    width: 110%;
    padding: 10px;
    position: absolute;
    margin-top: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 100px;
    background-color: #ccc;
    border-radius: 3px;
}


/* Search-bar  */

.box-3 {
    margin: 10px;
}

.btns {
    margin: 5px;
}

.btn {
    padding: 10px;
    border-style: none;
    background-color: white;
    font-size: 16px;
}

.btn:hover {
    color: blue;
}

.search-bar {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    margin: 10px;
    padding: 10px;
    ;
}

.search-input {
    border-style: none;
}

.search-bar-btn {
    background-color: rgba(30, 30, 196, 0.932);
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    padding: 10px;
}

.search-bar-btn:hover {
    background-color: rgb(30, 30, 196);
}

.search-input>input {
    padding: 10px;
    width: 400px;
}


/* Content  */


/* MAinbox */

.box-4 {
    margin: 100px;
}

.box-4-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.img-detail {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
}

.img-detail>img {
    width: 150px;
    transition: all ease-in-out .2s;
}

.img-detail>img:hover {
    transform: scale(1.5);
}


/* Main-1 */

.box-5-content {
    display: flex;
    justify-content: center;
    height: 400px;
}

.box-5-content-1>img {
    height: 400px;
    width: 500px;
    transition: all ease-in-out .2s;
}

.box-5-content-1>img:hover {
    transform: scale(1.5);
}

.box-5-content-1 {
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
}

.box-5-content-2 {
    /* border:1px solid black; */
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}

.main1-btn {
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(30, 30, 196, 0.932);
    color: white;
    font-size: 16px;
}

.main1-btn:hover {
    background-color: rgb(30, 30, 196);
}


/* Navbar */

.Nav-container {
    display: grid;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.Nav-left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.Nav-left>img {
    width: 150px;
    /* margin-left:5px; */
}

.Nav-right {
    grid-column-start: 9;
    grid-column-end: 12;
}

.nav-btn {
    margin: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.459);
}

.nav-btn:hover {
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.top-nav {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
}

header {
    text-align: left;
    padding: 8px 24px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    background: #005ca8;
    box-shadow: rgb(0 106 194 / 20%) 0 3px 8px 0;
    color: #fff;
    user-select: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    white-space: nowrap;
}

.item {
    margin: 5px;
}

.filter {
    display: flex;
    flex-grow: 3;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    overflow: auto;
}

.more-options {
    flex: 11;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
}

.nav-brand {
    flex: 1;
    transform: scaleX(0.95);
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    background: none;
    border: none;
    padding: 8px 12px;
    color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s;
    border-radius: 5px;
    display: block;
}

.nav-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.show {
    display: flex;
}

.nav-brand h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
}

.nav-brand h6 {
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.select {
    padding: 8px;
    height: fit-content;
}

select {
    color: #fff;
    background-color: none;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    max-width: 400px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
}

.select-container {
    background: none;
    transition: all 0.3s;
    padding: 12px;
    border-radius: 5px;
}

.select-container:hover {
    background: rgba(0, 0, 0, 0.1);
}

option {
    color: #000;
    box-shadow: none;
}

.post-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-self: stretch;
    justify-self: stretch;
    align-items: center;
}

.post-button {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background: none;
    border: none;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 8px;
    padding-right: 0px;
    margin-right: 8px;
    border-radius: 3px;
    transition: all 0.3s;
}

.post-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.tag {
    display: inline-block;
    font-size: 12px;
    background: #fff;
    font-weight: 700;
    color: #005ca8;
    border-radius: 3px;
    padding: 2px 4px;
    margin-left: 5px;
    transform: translateY(-10px);
}


/* Search */

.search-form {
    flex-grow: 4;
    background: #fff;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    max-width: 400px;
}

.search-form .search-field {
    border: none;
    outline: none;
    padding: 1px;
    width: 100%;
    margin: 0 10px;
    background: none;
    border-bottom: 1px solid #ffffff00;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
}

[placeholder] {
    text-overflow: ellipsis;
}

.search-form .search-field:focus {
    border-bottom: 1px solid #005ca8;
}

.search-form .submit {
    width: 36px;
    height: 36px;
    margin: 0;
}

#infpt {
    text-align: center;
    line-height: 1;
    color: #005ca8;
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
    margin: 5px auto;
    margin-top: 108px;
    padding: 18px;
    background: #ffffff;
    border-radius: 32px;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.icon {
    vertical-align: middle;
    padding: 3px;
}

.visible {
    display: flex;
}

footer {
    background: #151c22;
    padding: 24px;
    padding-bottom: 36px;
    display: flex;
    text-align: left;
    color: #fff;
    justify-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
}

footer h4 {
    font-size: 16px;
    font-weight: 700;
}

footer * {
    margin-top: 14px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

footer ul {
    list-style: none;
}

section {
    padding: 5px 18px;
}

.filler {
    height: 200px;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 896px;
    margin: 32px auto;
}

.side-head {
    margin: 24px;
}

.side-head h2 {
    color: #151c22;
    font-size: 24px;
}

.side-head p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 848px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    footer {
        flex-direction: row;
        flex-wrap: nowrap;
        white-space: normal;
    }
    .item {
        margin: 0;
    }
    .nav-button {
        display: none;
    }
    .more-options {
        display: flex;
        flex-wrap: nowrap;
    }
}